@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  /* border-collapse: collapse ; */
}

th:first-child{
  border-radius: 5px 0 0 5px;
}
th:last-child{
  border-radius: 0 5px 5px 0;
}

html, body{
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;